{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>

  {% block head-meta %}
    <meta charset="utf-8">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block blockbots %}
      <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock head-meta %}

  {% block head-js %}
    <!-- jQuery -->
    <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Page JS -->
    {% block head-js-extend %}{% endblock head-js-extend %}
    <!-- Page JS Inline -->
    {% block head-js-page-custom %}{% endblock head-js-page-custom %}
  {% endblock head-js %}

  {% block head-css %}
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">

    {% if not is_popup and is_nav_sidebar_enabled %}
      <!-- Django CSS for popup pages -->
    {% endif %}

    {% block head-css-extend %}<!-- Page CSS  -->{% endblock head-css-extend %}
    {% block extrastyle %}<!-- Django Page CSS  -->{% endblock extrastyle %}

    {% if LANGUAGE_BIDI %}<!-- Django CSS for RTL  -->{% endif %}
    {% block extrahead %}
      <!-- Django Page Media  -->
      <!-- j18n: translate lib -->
    {% endblock extrahead %}
    {% block responsive %}<!-- Django CSS for responsive  -->{% endblock responsive %}
    {% block head-css-page-custom %}<!-- Page Css Inline  -->{% endblock head-css-page-custom %}
  {% endblock head-css %}
</head>


<body class="{% block bodyclass %}hold-transition sidebar-mini{% endblock bodyclass %}"
      data-admin-utc-offset="{% now "Z" %}">
<div class="wrapper">

  {% block body %}
    {% if not is_popup %}
      {% include 'admin/partials/navbar.html' %}

      {% if not is_popup and is_nav_sidebar_enabled %}
        {% include 'admin/partials/sidebar.html' %}
      {% endif %}
    {% endif %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include "admin/partials/page_header.html" %}
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          {% block body-content %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
              {% block pretitle %}{% endblock %}
              {% block content_title %}{% if title %}<h1></h1>{% endif %}{% endblock %}
              {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
              {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
              {% endblock %}
              {% block sidebar %}{% endblock %}
              <br class="clear">
            </div>
            <!-- END Content -->

          {% endblock body-content %}
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% block modal %}
    {% endblock modal %}


    {% block drawer %}
    {% endblock drawer %}

    {% block footer %}
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 3.2.0
        </div>
      </footer>

    {% endblock footer %}


    {% block body-js %}
      <!-- Bootstrap -->
      <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- AdminLTE -->
      <script src="{% static 'adminlte/js/adminlte.js' %}"></script>

      {% block body-js-inline %}
        {#        {% block messages %}#}
        {#      {% if messages %}#}
        {#        <ul class="messagelist">{% for message in messages %}#}
        {#          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>#}
        {#        {% endfor %}</ul>#}
        {#      {% endif %}#}
        {#    {% endblock messages %}#}
      {% endblock body-js-inline %}

      {% block page-js-libs %}

        <!-- OPTIONAL SCRIPTS -->
        <script src="{% static 'adminlte/plugins/chart.js/Chart.min.js' %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'adminlte/js/demo.js' %}"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{% static 'adminlte/js/pages/dashboard3.js' %}"></script>

      {% endblock page-js-libs %}

      {% block page-js-custom %}
      {% endblock page-js-custom %}

    {% endblock body-js %}

    {% block dom-embeded %}
    {% endblock dom-embeded %}

  {% endblock body %}
</div>
</body>
</html>
